{% extends 'base.html' %}

{% block content %}
<article>
    <header>
        <h3>Вихід із системи</h3>
    </header>
    
    <p>Ви впевнені, що хочете вийти зі свого акаунту?</p>
    
    <div>
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="contrast">Так, вийти</button>
            <a href="{% url 'store:product_list' %}" role="button" class="secondary">Скасувати</a>
        </form>
        
    </div>
</article>
{% endblock %}