{% extends "base.html" %}

{% block content %}
    <h2>My Profile ({{ user.get_role_display }})</h2>
    <p>Status: {% if user.is_active %}Active{% else %}Inactive (Pending activation){% endif %}</p>
    
    <form method="post">
        {% csrf_token %}
        <h3>Account Information</h3>
            {{ user_form.as_p }}
        
        {% if not user.is_admin_member %}
            <h3>Profile Details</h3>
            {{ profile_form.as_p }}
        {% endif %}
        <button type="submit">Save Changes</button>
    </form>
{% endblock %}
